 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@100&family=Mulish&family=Roboto+Slab:wght@100&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Roboto Slab', serif; */

:root{
    --linegreen:hsl(163, 72%, 41%);
    --brightred:hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram-start:hsl(37, 97%, 70%);
    --Instagram-end: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);

    --toggle-bg-start:hsl(210, 78%, 56%);
    --toggle-bg-end:hsl(146, 68%, 55%);

    --toggle-bg-light:hsl(230, 22%, 74%);

  



    /* Dark Theme Colors */

 
  /* Light Theme Colors */
  --light-bg: hsl(0, 0%, 100%);
  --light-bg-pattern: hsl(225, 100%, 98%);
  --light-card-bg: hsl(227, 47%, 96%);
  --light-text: hsl(228, 12%, 44%);
  --light-text-dark: hsl(230, 17%, 14%);
  --hover: #cdced5

 /* font family */

 --font-inter:'Inter', sans-serif;
}
/* base styling */

html[data-theme="dark"]{
    --light-bg: hsl(230, 17%, 14%);
    --light-bg-pattern: hsl(232, 19%, 15%);
    --light-card-bg: hsl(228, 28%, 20%);
    --light-text: hsl(226, 21%, 88%);
    --light-text-dark: hsl(0, 0%, 100%);
      }

* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}




html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: var(--font-inter);
    margin:  3rem;
    background: var(--light-bg);
}

/* header section style */
header{
    margin-bottom: 25px;
}

header .title{
    font-size: 24px;
    font-weight: bold;
    color: var(--light-text-dark);
}

header .text{
    font-size: 14px;
    font-weight: bold;
    color: var(--light-text);
}


/* main style */
main{
    border-top: 1px solid #a3a1a1;
}

.main-title{
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-top: 20px;

}

.main-title p{
    font-size: 14px;
    color:var(--light-text);
    align-self: center;
    font-weight: bold;
}

input[type="checkbox"]{
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle-container {
    display: flex;
}


label{
   cursor: pointer;
   width: 5.2rem;
   height: 2.7rem;
   background: var(--toggle-bg-light);
   border-radius: 100px;
   position: relative;
   align-self: center;
}

label::after{
    position: absolute;
    content: "";
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label{
    
    background: linear-gradient(90deg,#388fe7 0%,#40DB86 100%);


}

input:checked + label:after{
    right: calc(100% - 45px);
    transform: translateX(-100%);
}

/* Card section style */
.card-section{
    margin-bottom: 35px;
}

.card{

    height:22rem ;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: var(--light-card-bg);
    border-radius: 6px;
   
}

.card-header{
    grid-column: 2/4;
    display: flex;
    align-items: center;
    margin: auto;
}

.card-header img{
    width: 3rem;
    margin-right: 15px;
}

.card-header  p{

    font-size: 12px;
    font-weight: bold;
    color: var(--light-text);

}

.card-body{
    grid-column: 2/4;
    text-align: center;

}

.card-body h1{
    font-size: 5rem;
    text-align: center;
}

.card-body p{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: var(--light-text);

}

.card-footer {
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-footer  img{
    width:1.25rem;
  margin-right: 5px ;
}

.card-footer p{
    font-size: 1.25rem;
    color: var(--linegreen);
    font-weight: bold;
    text-transform: capitalize;
}

.fb{
    border-top: 5px  solid var(--Facebook);
}

.tw{
    border-top: 5px solid var(--Twitter);
}

.in{
    border-top: 5px solid;
    border-image-source: linear-gradient(90deg,var(--Instagram-start) 0%,var(--Instagram-end) 100%);
    border-image-slice: 1;
}

.yt{
    border-top: 5px solid var(--YouTube);
}

.yt .card-footer p {
    color: var(--brightred);
    text-transform: capitalize;
}

/* overview section style */

.overview-section  h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--light-text);
    letter-spacing: 2px;
    margin-top: 25px;
}


.overview-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 20rem;
    background: var(--light-card-bg);
    margin-top: 20px;
    border-radius: 6px;
}

.page-views{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--light-text);
    margin: auto;
}

.fb-icon{
    margin: auto;
    width: 4rem;
}

.overview-card h2{
    font-size: 6rem;
    margin-top: 25px;
    border-radius: 6px;
    color: var(--dark-bg);
    margin: auto;
    grid-column: 1/2;

}

.up-down-icon{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
   font-size: 1.5rem;
}

.percentage{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    font-size: 1.5rem;
    padding-left:66px;
    font-weight: bold;
    color: var(--linegreen);
}

.fb-down{
    color: var(--brightred);
}

@media (min-width: 501px) and (max-width: 768px) {
    .card {
        margin-top: 0; 
    }
 
 
   .cards-section  {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }

    .overview-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    
}



.overview-title{
    font-size: 25px;
    color: var(--light-text);
    margin-top: 25px;
}



@media screen and (min-width:1200px) {
    body{
        margin: 5rem;
    }
    header{
        margin-bottom: 0;
    }

   main {
     border-top: none;
   }
   
   .main-title{
    justify-content: flex-end;
    margin-top: 0;
   }

   .main-title p{
    font-weight: bold;
    margin-right: 15px;
   }
   .card:hover{
    cursor: pointer;
    background:var(--hover);
   }

   .cards-section  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}
.overview-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}
}